In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from tqdm.notebook import tqdm

In [2]:
df = pd.read_csv("/Users/younyung.gene/__TEXTBOOKS__/__3-2__/JUNIOR/patient_count/merged_30days.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94356 entries, 0 to 94355
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fname           94356 non-null  object
 1   AlsUnitNo       94356 non-null  float64
 2   AcqDate         94356 non-null  object
 3   연구내원번호          94356 non-null  float64
 4   sex             94356 non-null  object
 5   BirthDate       94356 non-null  object
 6   처방시나이           94356 non-null  float64
 7   TrueAge         94356 non-null  float64
 8   waveform_shape  94356 non-null  object
 9   ABPM_Date       94356 non-null  object
 10  sbp_office      94356 non-null  float64
 11  dbp_office      94356 non-null  float64
 12  meanFull_SBP    94356 non-null  float64
 13  meanFull_DBP    94356 non-null  float64
 14  meanAwake_SBP   94356 non-null  float64
 15  meanSleep_SBP   94356 non-null  float64
 16  Age             94356 non-null  float64
 17  sex_F0M1        94356 non-null  float64
 18  Totalchol       94356 non-null  float64
 19  LDL             94356 non-null  float64
 20  HDL             94356 non-null  float64
 21  TG              94356 non-null  float64
 22  Hb              94356 non-null  float64
 23  Cr              94356 non-null  float64
 24  eGFR_MDRD       94356 non-null  float64
 25  eGFR_CKDEPI     94356 non-null  float64
 26  height          94356 non-null  float64
 27  weight          94356 non-null  float64
 28  BMI             94356 non-null  float64
 29  EF              94356 non-null  float64
 30  LVMI            94356 non-null  float64
 31  date_diff       94356 non-null  int64
dtypes: float64(25), int64(1), object(6)
memory usage: 23.0+ MB

In [6]:
def get_dipping_value(row):
    awake = row["meanAwake_SBP"]
    sleep = row["meanSleep_SBP"]

    dipping_value = (awake - sleep) / awake * 100
    return dipping_value

# Non-Dipper : 1, Dipper : 0
def get_dipper_label(row):
    dipping_value = row["dipping_value"]

    if dipping_value > 10:
        return 0
    else: 
        return 1

In [9]:
tqdm.pandas()

df_class = df.copy(deep=True)
df_class["dipping_value"] = df_class.progress_apply(get_dipping_value, axis=1)
df_class["dipper_label"] = df_class.progress_apply(get_dipper_label, axis=1)

  0%|          | 0/94356 [00:00<?, ?it/s]

  0%|          | 0/94356 [00:00<?, ?it/s]

In [15]:
dipper = df_class.loc[df_class["dipper_label"] == 0]
non_dipper = df_class.loc[df_class["dipper_label"] == 1]

In [16]:
dipper.to_csv("/Users/younyung.gene/__TEXTBOOKS__/__3-2__/JUNIOR/patient_count/dipper.csv", index=False)
non_dipper.to_csv("/Users/younyung.gene/__TEXTBOOKS__/__3-2__/JUNIOR/patient_count/non_dipper.csv", index=False)

In [20]:
dipper_avg = pd.DataFrame(dipper.mean(), index = dipper.columns, columns=["average"])
non_dipper_avg = pd.DataFrame(non_dipper.mean(),index = non_dipper.columns, columns=["average"])

/var/folders/gy/9j0hfb_n6sb5lxxcxrmmdrw00000gn/T/ipykernel_82308/1046066296.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dipper_avg = pd.DataFrame(dipper.mean(), index = dipper.columns, columns=["average"])
/var/folders/gy/9j0hfb_n6sb5lxxcxrmmdrw00000gn/T/ipykernel_82308/1046066296.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  non_dipper_avg = pd.DataFrame(non_dipper.mean(),index = non_dipper.columns, columns=["average"])

In [21]:
dipper_avg.to_csv("/Users/younyung.gene/__TEXTBOOKS__/__3-2__/JUNIOR/patient_count/dipper_avg.csv", index=False)
non_dipper_avg.to_csv("/Users/younyung.gene/__TEXTBOOKS__/__3-2__/JUNIOR/patient_count/non_dipper_avg.csv", index=False)

In [24]:
dipper_avg.to_excel("/Users/younyung.gene/__TEXTBOOKS__/__3-2__/JUNIOR/patient_count/dipper_avg.xlsx")
non_dipper_avg.to_excel("/Users/younyung.gene/__TEXTBOOKS__/__3-2__/JUNIOR/patient_count/non_dipper_avg.xlsx")

In [25]:
dipper.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32773 entries, 1 to 94351
Data columns (total 34 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fname           32773 non-null  object
 1   AlsUnitNo       32773 non-null  float64
 2   AcqDate         32773 non-null  object
 3   연구내원번호          32773 non-null  float64
 4   sex             32773 non-null  object
 5   BirthDate       32773 non-null  object
 6   처방시나이           32773 non-null  float64
 7   TrueAge         32773 non-null  float64
 8   waveform_shape  32773 non-null  object
 9   ABPM_Date       32773 non-null  object
 10  sbp_office      32773 non-null  float64
 11  dbp_office      32773 non-null  float64
 12  meanFull_SBP    32773 non-null  float64
 13  meanFull_DBP    32773 non-null  float64
 14  meanAwake_SBP   32773 non-null  float64
 15  meanSleep_SBP   32773 non-null  float64
 16  Age             32773 non-null  float64
 17  sex_F0M1        32773 non-null  float64
 18  Totalchol       32773 non-null  float64
 19  LDL             32773 non-null  float64
 20  HDL             32773 non-null  float64
 21  TG              32773 non-null  float64
 22  Hb              32773 non-null  float64
 23  Cr              32773 non-null  float64
 24  eGFR_MDRD       32773 non-null  float64
 25  eGFR_CKDEPI     32773 non-null  float64
 26  height          32773 non-null  float64
 27  weight          32773 non-null  float64
 28  BMI             32773 non-null  float64
 29  EF              32773 non-null  float64
 30  LVMI            32773 non-null  float64
 31  date_diff       32773 non-null  int64
 32  dipping_value   32773 non-null  float64
 33  dipper_label    32773 non-null  int64
dtypes: float64(26), int64(2), object(6)
memory usage: 8.8+ MB

In [27]:
non_dipper.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61583 entries, 0 to 94355
Data columns (total 34 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fname           61583 non-null  object
 1   AlsUnitNo       61583 non-null  float64
 2   AcqDate         61583 non-null  object
 3   연구내원번호          61583 non-null  float64
 4   sex             61583 non-null  object
 5   BirthDate       61583 non-null  object
 6   처방시나이           61583 non-null  float64
 7   TrueAge         61583 non-null  float64
 8   waveform_shape  61583 non-null  object
 9   ABPM_Date       61583 non-null  object
 10  sbp_office      61583 non-null  float64
 11  dbp_office      61583 non-null  float64
 12  meanFull_SBP    61583 non-null  float64
 13  meanFull_DBP    61583 non-null  float64
 14  meanAwake_SBP   61583 non-null  float64
 15  meanSleep_SBP   61583 non-null  float64
 16  Age             61583 non-null  float64
 17  sex_F0M1        61583 non-null  float64
 18  Totalchol       61583 non-null  float64
 19  LDL             61583 non-null  float64
 20  HDL             61583 non-null  float64
 21  TG              61583 non-null  float64
 22  Hb              61583 non-null  float64
 23  Cr              61583 non-null  float64
 24  eGFR_MDRD       61583 non-null  float64
 25  eGFR_CKDEPI     61583 non-null  float64
 26  height          61583 non-null  float64
 27  weight          61583 non-null  float64
 28  BMI             61583 non-null  float64
 29  EF              61583 non-null  float64
 30  LVMI            61583 non-null  float64
 31  date_diff       61583 non-null  int64
 32  dipping_value   61583 non-null  float64
 33  dipper_label    61583 non-null  int64
dtypes: float64(26), int64(2), object(6)
memory usage: 16.4+ MB

In [28]:
non_dipper["AlsUnitNo"].value_counts()

3809636.0     256
4321909.0     203
2943602.0     196
4479084.0     194
3159379.0     163
             ...
4680331.0       1
4680107.0       1
4051805.0       1
2282648.0       1
10000150.0      1
Name: AlsUnitNo, Length: 7167, dtype: int64

In [29]:
dipper["AlsUnitNo"].value_counts()

2851229.0    190
3010715.0    127
2968761.0    123
4271648.0    115
1845535.0    115
            ...
4475353.0      1
4474983.0      1
3964443.0      1
4474005.0      1
4117197.0      1
Name: AlsUnitNo, Length: 5625, dtype: int64

In [30]:
7167 + 5625

12792